*{
    margin: 0 0;
}

.header{
    background-image: url(header.avif);
    background-size: 100% 100%;
    width: 100%;
    height: 350px;
    border-block-end: 1px solid black;
    background-color: blue;
    padding: 10 10;
}

#icon{
    width: 50px;
    height: 50px;
}

#menu{
    display: flex;
    background-color:rgba(134, 154, 1, 0.467);
    margin: 0;
    width: 100%;
    height: 50px;
    gap: 10%;
    padding: 1%;
    align-items: center;
    position: fixed;
} 

.whatsapp-icon {
    width: 110px;
    height: 55px;
    border-radius: 0%;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    transition: transform 0.2s ease;
    position: fixed;
    bottom: 20px;
    right: -10px;
    z-index: 9999;
 }

#menu a{
    background-color: rgba(0, 0, 0, 0);
    color: black;
    height: 20px;
    
}
.body{
    background-color: lightgray;
    margin: 0;
    padding: 0;

}

#productos{
    font-size: 25px;
    text-align: center;
    margin-top: 2%;
    margin-block-end: 2%;

}

#introducion{
    margin-top: 1%;
    text-align: center;
    font-size: 20px;

}

#ProductosDestacados{
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
    margin-block-end: 2%;

}

#quienessomos{
    margin-top: 1%;
    text-align: center;
    font-size: 20px;
    margin-block-end: 5%;


}

.contacto-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    justify-content: center;
    background-color: rgba(125, 144, 0, 0.563);
}

.contacto-info, .contacto-ubicacion {
    flex: 1;
    min-width: 300px;
    background: #fafafa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.contacto-info h2,
.contacto-ubicacion h2 {
    margin-bottom: 15px;
    font-size: 22px;
}

.contacto-info p, .contacto-ubicacion p {
    margin: 8px 0;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 20px;
}

#card {
    border: 2px solid black;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    background: #fff;
    transition: transform .2s;
}

/* efecto suave al pasar el mouse */
#card:hover {
    transform: scale(1.05);
}

#card img {
    width: 100%;
    height: 130px;
    object-fit: cover;   /* Recorta sin deformar */
    border-radius: 8px;
}

#card span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
.footer{
    background-color: rgb(152, 175, 0);
    background-size: 100 100;
    width: 100%;
    padding-top: 0%;
    margin: 0%;
    align-items: end;

}

#contact{
    display: inline-block;
    padding: 5% 9%;
    

}
#autder{
    text-align: center;
}